@font-face {
    font-family: 'Jakarta';
    src: url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Jakarta, sans-serif;
}

body {
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--Verylightgrayishblue);
}

.container{
    width: 570px;
    background-color: var(--White);
    box-shadow:0 3px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.heading{
    display: flex;
    justify-content: space-between;
    margin-bottom:20px ;
    align-items: center;
}

.notif{
    display: flex;
    align-items: center;
    font-weight: bolder;

}

.notif span{
    margin-left: 7px;
    background-color: var(--Blue);
    padding: 2px 9px;
    font-size: .6rem;
    color: var(--White);
    border-radius: 5px;
}

.heading #markAll{
    font-size: .7rem;
}

#markAll{
    cursor: pointer;
}

.message{
    display: flex;
    padding: 10px;
    margin-bottom: 6px;
    cursor: pointer;
}

.message.active{
    background-color: var(--Verylightgrayishblue);
}

.msgDiv{
    position: relative;
}

.message.active .msgDiv::before{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: var(--Red);
    z-index: 100;
    border-radius: 50%;
    top: 7px;
    right: -12px;
}

.message h1{
    font-size: .8rem;
    font-weight: 400;
}

.message .pfpImg img{
    width: 40px;
    margin-right: 20px;
}

.message .msgDiv .title{
    color: var(--Darkgrayishblue);
    font-weight: 700;
}

span.chessClub{
    font-weight: bolder;
    color: var(--Blue);
}

.msgTime{
    font-size: .7rem;
}

.commentedPic img{
    width: 45px;
    
}

.message .msgFlex{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.msgreceived{
    margin: 10px auto;
    padding: 20px;
    outline: 1px solid var(--Lightgrayishblue-2);
    border-radius: 5px;
}

.pfpImg{
    position: relative;
}

.verified{
    position: absolute;
    width: 18px !important;
    left: 30px;
    top: 0;
    background-color: var(--White);
    border-radius: 50px;
    padding: 2px;
}

.msgreceived:hover{
    background-color: var(--Lightgrayishblue-1);
    border: none;
    outline: none;
}

.msgreceived p{
    font-size: .8rem;
}

.attribution {
    font-size: 11px;
    text-align: center;     
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    --Red: hsl(1, 90%, 64%);
    --Blue: hsl(219, 85%, 26%);

    /* Neutral */

    --White: hsl(0, 0%, 100%);
    --Verylightgrayishblue: hsl(210, 60%, 98%);
    --Lightgrayishblue-1: hsl(211, 68%, 94%);
    --Lightgrayishblue-2: hsl(205, 33%, 90%);
    --Grayishblue: hsl(219, 14%, 63%);
    --Darkgrayishblue: hsl(219, 12%, 42%);
    --Verydarkblue: hsl(224, 21%, 14%);
}